body
{
	margin:2em;
}
p.MsoToc1
{
	margin-top:2px;
	margin-bottom:2px;
}
p.MsoToc2
{
	margin-top:2px;
	margin-bottom:2px;
	margin-left:2em;
}
p.MsoNormal
{
	text-indent:2em;
}
p.Title1
{

}
p.Title2
{
	text-indent:2em;
}