html, body 
{
	margin-left:auto; 
	margin-right:auto; 
	width:1080px;
	font-family:times;
	font-size:17px;
    height:100%;
}
.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
.header {
}
.footer {
}
.content {
    flex: 5;
    overflow: auto;
}
#header
{
	background-color:#cfefff;
	text-align:center;
	font-size:40px;
	padding:10px;
}
#photo
{
	width:160px; 
	/*height:270px;*/
	/*margin-left:145px;*/
	float:right;
}
.line
{
}
.attr-en
{
	width:130px;
	margin:5px;
	text-align:right;
	ling-hight:100%;
}
.attr-zh
{
	width:100px;
	margin:5px;
	text-align:right;
	ling-hight:100%;
}
.value-en
{
	margin-left:150px;
	/*width:800px;*/
	ling-hight:100%;
}
.value-zh
{
	margin-left:120px;
	/*width:800px;*/
	ling-hight:100%;
}
.value-en ul
{
	margin-left:-20px;
	margin-top:5px;/**/
	margin-bottom:10px;
}
.value-zh ul
{
	margin-left:-20px;
	margin-top:5px;/**/
	margin-bottom:10px;
}